#side {
    position: absolute;
    top: 0;
    left: 0;
    width: 335px;
    border-right: 1px solid #dbdbdb;
    z-index: 10;
    background-color: #fff;
    height: 100vh;
}
#contents {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 335px;
    background-color: #f5f5fb;
    height: 100vh;
}

.side h1 {
    color: #4785ef;
    text-align: left;
    padding: 35px 0 35px 60px;
}
.side .menu {
    padding-left: 20px;
    padding-right: 40px;
}
.side .menu .item {
    position: relative;
    padding: 20px 0 20px 40px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 500;
    font-size: 18px;
}
.side .menu .item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 3px;
}
.side .menu .item i {
    color: #546685;
}
.side .menu .item .link {
    color: #546685;
}
.side .menu .item.on {
    background-color: #e5efff;
}
.side .menu .item.on:after {
    background-color: #4785ef;
}
.side .menu .item.on i {
    color: #4785ef;
}
.side .menu .item.on .link {
    color: #4785ef;
}

.contents {
}
.contents .container {
    height: 100vh;
    overflow: auto;
}
.contents .container .header {
    padding: 0 40px;
    position: relative;
    height: 110px;
    border-bottom: 1px solid #dbdbdb;
}
.contents .container .header .profile {
    position: absolute;
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
}
.contents .container .header .profile i {}
.contents .container .header .profile .name {}
.contents .container .tab {
    padding: 0 40px;
}
.contents .container .tab .title {
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 24px;
    color: #203263;
}
.contents .container .tab .title span {
    color: #4785ef;
}
.contents .container .tab .sub-title {
    font-size: 20px;
    font-weight: 500;
    color: #203263;
    margin-bottom: 30px;
}
.contents .container .tab .sub-title span {
    color: #4785ef;
}
.contents .container .tab .scroll {
    height: 57vh;
    border-radius: 0 0 10px 10px;
    overflow: auto;
}
.contents .container .tab table {
    width: 100%;
    background-color: #fff;
    font-size: 15px;
    font-weight: 500;
}
.contents .container .tab table tr {
    border-bottom: 1px solid #eceef1;
}
.contents .container .tab table th {
    padding: 20px 0;
    font-size: 18px;
}
.contents .container .tab table td {
    padding: 20px 0;
    font-size: 18px;
}
.contents .container .tab table th:nth-child(1),
.contents .container .tab table td:nth-child(1) {
    text-align: center;
    height: 100%;
    position: relative;
    width: 40px;
}
.contents .container .tab table th:nth-child(2),
.contents .container .tab table td:nth-child(2) {
    width: 100px;
    text-align: center;
}
.contents .container .tab table .check {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-65%);

    display: inline-block;
    background-color: #d9e6fc;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-top: 3px;
}
.contents .container .tab table td .check.on {
    background-color: #4785ef;
}
.contents .container .tab table td .t-number {
    font-weight: bold;
    color: #4785ef;
}
.contents .container .tab table td .t-title-prefix {
    color: #4785ef;
}
.contents .container .tab table td .t-title {
    color: #5058a3;
}
.contents .container .tab table td .t-date {
    display: inline-block;
    padding: 6px 15px;
    background-color: #e9effd;
    border-radius: 7px;
    color: #203263;
}
.contents .container .tab table.header-table {
    border-radius: 10px 10px 0 0;
    color: #6d7c95;
}
.contents .container .tab table.scroll-table {
    width: 100%;
}

.popup {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 30;
}
.popup.on {
    display: block;
}
.popup .container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    width: 25vw;
}
.popup .title {
    color: #fff;
    background-color: #414a9b;
    font-size: 18px;
    font-weight: 700;
    padding: 10px 20px;
}

form {
    padding: 2vh 20px;
}
form input:nth-child(1) {
    margin-top: 0;
}
form input {
    display: block;
    width: 100%;
    border-radius: 10px;
    padding: 10px 10px;
    outline: none;
    border: none;
    margin-top: 1.5vh;
    color: #203263;
    background-color: #edf3fd;
}
form input:disabled {
    color: #bfbfc2;
}
form input::placeholder {
    color: #bfbfc2;
}
form button {
    float: right;
    outline: none;
    border: none;
    border: 1px solid #4785ef;
    background-color: #4785ef;
    color: #fff;
    padding: 7px 20px;
    border-radius: 10px;
}

.myinfo-popup form .view-button,
.myinfo-popup form .modify-button {
    margin-top: 1.5vh;
}
.myinfo-popup form .view-button .normal,
.myinfo-popup form .modify-button .normal{
    border: 1px solid #4785ef;
    background-color: #fff;
    color: #4785ef;
    margin-right: 1.5vh;
}
.modify-password-popup button.submit{
    float: right;
    outline: none;
    border: none;
    border: 1px solid #4785ef;
    background-color: #4785ef;
    color: #fff;
    padding: 7px 20px;
    border-radius: 10px;
    margin-top: 1.5vh;
}

@media screen and (max-width:1600px) {
  .contents .container .tab .scroll {
    height: 50vh;
  }
  .contents .container .tab .title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    color: #203263;
  }
  .contents .container .tab .sub-title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 30px;
  }
  .contents .container .tab table.header-table .check {
    margin-top: 16px;
  }
  .contents .container .tab table .check {
    position: absolute;
    top: 50%;
    left: 22px;
    transform: translateY(-65%);

    display: inline-block;
    background-color: #d9e6fc;
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin-top: 22px;
}
}